body {
    background-color: black;
}
.heading {
    color: #190061;
    font-size: 3rem;
    text-align: center;
}
.instruction {
    color: #240090;
    text-align: center;
    font-size: 1rem;
}
.container-grid {
    height: 25rem;
    width: 25rem;
    margin: auto;
    background-color :#3500D3;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    padding: 0.5rem;;
}


.container-panel {
    width: 25rem;
    height: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #282828;
    padding: 0.5rem;
    text-align: center;
    grid-gap: 0.5rem;
}

.points {
    font-size: 1.5rem;
    background-color: #5225da;
}

button:hover{
    background-color: lightblue;
}

.grid-items {   
    background-color: grey;
    border: 1px solid black;
    color: grey;
}

.pressed {
    background-image: url(https://img.icons8.com/emoji/48/000000/bomb-emoji.png);
}
.pressed1{
    background-color: lightblue;
    color: black;
    text-align: center;
}